body {  
  /* background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;   
  font-family: sans-serif;
  font-size: 18px; */
  background-color:rgb(248 132 15);
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}


h3,p{
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

p { 
  line-height: 16pt;
}

button.bt button.col-selected{
  position: relative;
  top: 0;
  /* left: 0.1em; */
  margin:0;
  padding:0;
  display: block;
  border:none;
}
.nextPlayer{
  position: relative;
  top: 20px;
  font-family: sans-serif;
  text-align: center;
}
h1 {
  width: 100%;
  font-size: 2em;  
  font-family: sans-serif;
  text-align: center; 
  color: rgb(255, 255, 255);
}

.prompt-container h3{  
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

.prompt-container{  
  width:400px;
  height: 400px;
  border-radius: 14px;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  background-color:rgb(248 132 15);
  border-style: solid;
  margin: auto;
  text-align: center; 
 }

 .prompt-obs{
  width: 80%;
  font-size: 0.9em;
  margin: auto;  
  margin-bottom: 3.5em;
 }

 .inputs-container{   
  visibility: hidden;
  margin: auto;
}
.input{
  /* width: 275px; 
  top: 196px; 
  font-size: 20px;
  text-align: center;*/
  border-radius: 40px;
  border-width: 2px;
  border-color: rgb(255, 255, 255); 
  border-style: solid; 
}

 .tablero-container{
  position: relative;
  top: -324px;  
  visibility: hidden;  
  width: 567px;
  height: 483px;  
  margin: auto; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0; 
  background-image: url("images/tableroVacio.png");
 }
 
.tablero-Up{
  position: absolute; 
}

.tablero-grid{
  top: 60px;  
}

.col{
  position: relative;
  width: 67px;
  height: 475px;
  left: 15px;
  top: 0px;
  display:inline-block;  
  /* border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
  border-style: solid;  */
  padding-left: 5px;
}

.col-selected{
  position: relative;
  width: 67px;
  height: 475px;
  left: 15px;
  top: 0px;
  display:inline-block; 
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
  border-style: solid; 
  padding-left: 5px;  
}

 .round{
  position: relative; 
  width: 67px;
  height: 67px;
  align-self: center;  
  float:left;
  margin-top: 8px;
  /* border: 1px solid rgba(255,255,255,0.3);
  border-radius: 50%; */
  justify-content: center;
  left: -7px;
  /* top: -3px; */
 }

 .round-Used{
  position: relative; 
  width: 67px;
  height: 67px;
  align-self: center;
  float:left;
  margin-top: 8px;
  /* border: 1px solid rgba(255,255,255,0.3); */
  border-radius: 50%;
  justify-content: center; 
  left: -9px;
  /* top: -3px; */
}

 .round-PossiblePos{
  position: relative;
  width: 67px;
  height: 67px;
  align-self: center;  
	opacity: 0.3;  
  float: left;
  margin-top: 8px;
  /* border: 1px solid rgba(255,255,255,0.3); */
  border-radius: 50%;  
  justify-content: center; 
}

.round-Yellow{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0; 
  background-image: url("images/FichaAmarilla.png");
}
.round-Red{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0; 
  background-image: url("images/FichaRoja.png");
}

 .img-container{
  top: -31px;
  left: -29px;
  position: relative;  
  width: 30px;
  height: 29px;
  visibility: hidden;
 }

.img-ficha-container{
  position: relative;  
  left:20px;
  top : -110px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.rdGameType{
  visibility: hidden;
}
 .buttons-container{  
  /* width:100%; */
  position: relative;  
  top: 150px; 
 }

 .bt-content{  
   position: absolute;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 45%;
  visibility: hidden;
}
.bt{  
  background: none;    
  width: 100%;
  height: 100%;
  border-style: none;
  /*
  border: 1px solid rgba(228, 38, 38, 0.3);
  border-radius: 15px;
  border-style: solid; 
   */
  /* align-content: center; */
}
.cerrar-content{
  visibility: hidden;
}

.btStart{
  position: relative;
  width: 180px;  
  margin: auto;
  text-shadow: 1px 1px 1px rgb(32, 32, 31);
  background: #eb9008;
  background-image: -webkit-linear-gradient(top, #f5980c, #f7500e);
  background-image: -moz-linear-gradient(top, #f5980c, #f7500e);
  background-image: -ms-linear-gradient(top, #f5980c, #f7500e);
  background-image: -o-linear-gradient(top, #f5980c, #f7500e);
  background-image: linear-gradient(to bottom, #f5980c, #f7500e);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 40px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;   
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
  left: 95px;
}
.btJugar{
  visibility: hidden;
  position: relative;
  width: 180px;  
  margin: auto;
  left: -84px;
  top: 25px;
  text-shadow: 1px 1px 1px rgb(32, 32, 31);
  background: #eb9008;
  background-image: -webkit-linear-gradient(top, #f5980c, #f7500e);
  background-image: -moz-linear-gradient(top, #f5980c, #f7500e);
  background-image: -ms-linear-gradient(top, #f5980c, #f7500e);
  background-image: -o-linear-gradient(top, #f5980c, #f7500e);
  background-image: linear-gradient(to bottom, #f5980c, #f7500e);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 40px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;   
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
}
.btStart:hover {
  background: #f7500e;
  background-image: -webkit-linear-gradient(top, #f7500e, #f5980c);
  background-image: -moz-linear-gradient(top, #f7500e, #f5980c);
  background-image: -ms-linear-gradient(top, #f7500e, #f5980c);
  background-image: -o-linear-gradient(top, #f7500e, #f5980c);
  background-image: linear-gradient(to bottom, #f7500e, #f5980c);
  text-decoration: none;
}

.btcerrar {    
  visibility: hidden;
  text-shadow: 1px 1px 1px rgb(32, 32, 31);
  position: absolute;
  left: 90%;
  top: 2%;
  width: 40px;
  height: 40px;
  background: #e85a5a;
  background-image: -webkit-linear-gradient(top, #e85a5a, #882d2d);
  background-image: -moz-linear-gradient(top, #e85a5a, #882d2d);
  background-image: -ms-linear-gradient(top, #e85a5a, #882d2d);
  background-image: -o-linear-gradient(top, #e85a5a, #882d2d);
  background-image: linear-gradient(to bottom, #e85a5a, #882d2d);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;      
  padding: 0px 5px 0px 5px;
  border: solid #fafafa 2px;
  text-decoration: none;
}
  
.btcerrar:hover {
  background: #882d2d;
  background-image: -webkit-linear-gradient(top, #882d2d, #e85a5a);
  background-image: -moz-linear-gradient(top, #882d2d, #e85a5a);
  background-image: -ms-linear-gradient(top, #882d2d, #e85a5a);
  background-image: -o-linear-gradient(top, #882d2d, #e85a5a);
  background-image: linear-gradient(to bottom, #882d2d, #e85a5a);
  text-decoration: none;
}

.btsalir {    
  visibility: hidden;
  text-shadow: 1px 1px 1px rgb(32, 32, 31); 
  margin: auto;
  text-shadow: 1px 1px 1px rgb(32, 32, 31);
  background: #80786d;
  background-image: -webkit-linear-gradient(top, #f5980c, #f7500e);
  background-image: -moz-linear-gradient(top, #f5980c, #f7500e);
  background-image: -ms-linear-gradient(top, #f5980c, #f7500e);
  background-image: -o-linear-gradient(top, #f5980c, #f7500e);
  background-image: linear-gradient(to bottom, #f5980c, #f7500e);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 40px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;   
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
}
    
.btsalir:hover {
  background: #f7500e;
  background-image: -webkit-linear-gradient(top, #f7500e, #f5980c);
  background-image: -moz-linear-gradient(top, #f7500e, #f5980c);
  background-image: -ms-linear-gradient(top, #f7500e, #f5980c);
  background-image: -o-linear-gradient(top, #f7500e, #f5980c);
  background-image: linear-gradient(to bottom, #f7500e, #f5980c);
  text-decoration: none;
}

.btvolver {
  text-shadow: 1px 1px 1px rgb(32, 32, 31);
  visibility: hidden;
 
  width: 150px;
  /* left: 35px;
  top: 310px; */
    background: #38ff26;
    background-image: -webkit-linear-gradient(top, #38ff26, #165b19);
    background-image: -moz-linear-gradient(top, #38ff26, #165b19);
    background-image: -ms-linear-gradient(top, #38ff26, #165b19);
    background-image: -o-linear-gradient(top, #38ff26, #165b19);
    background-image: linear-gradient(to bottom, #38ff26, #165b19);
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 35px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
   
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: solid #fafafa 2px;
    text-decoration: none;
  }
  
  .btvolver:hover {
    background: #165b19;
    background-image: -webkit-linear-gradient(top, #165b19, #1dad22);
    background-image: -moz-linear-gradient(top, #165b19, #1dad22);
    background-image: -ms-linear-gradient(top, #165b19, #1dad22);
    background-image: -o-linear-gradient(top, #165b19, #1dad22);
    background-image: linear-gradient(to bottom, #165b19, #1dad22);
    text-decoration: none;
  }
    /* Tooltip text */
.soltarFichaTooltip{
  visibility: visible;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;  
}
.selPos-content{
  position: absolute;
}
.soltarFichaTooltip .tt-soltarFichaTooltip {
  /* visibility: hidden; */
  width: 100px;
  height: 20px;
  background-color: #555;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  background: #fafafa;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 600%;
  top: 4px;
  left: 10px;
  margin-left: -45px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.soltarFichaTooltip .tt-soltarFichaTooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;  
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(245, 237, 237) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.selPos-content:hover .tt-soltarFichaTooltip { 
  visibility: visible;
  opacity: 1;
}

